* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: rgb(253, 251, 251);
} 

#cabecalho {
  height: 100px;
  width: 100%;
  background-color: green;
  position: fixed;
  z-index: 1;
}

#menu {
  list-style-type: none;
}

a {
  color: rgb(55, 214, 206);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#titulo {
  margin-top: 0px;
  text-align: center;
}

#minha_foto {
  border-radius: 20px;
  margin: 40px;
  top: 110px;
  position: absolute;
  z-index: 2;
}

#conteudo {
  padding: 0px 0px 0px 330px;
  position: absolute;
  z-index: 3;
  top: 135px;
}

#percepcoes {
  position: absolute;
  z-index: 4;
  top: 460px;
  left: 20px;
}

#texto_secundario {
  position: absolute;
  z-index: 5;
  top: 520px;
  left: 20px;
}

#licoes {
  position: absolute;
  z-index: 6;
  top: 740px;
  left: 20px;
}

#licoes_aprendidas {
  position: absolute;
  z-index: 7;
  top: 810px;
}

#licoes_a_aprender {
  position: absolute;
  z-index: 8;
  top: 810px;
  left: 250px;
}

#programar {
  position: absolute;
  z-index: 9;
  top: 1060px;
}

#rodape {
  height: 40px;
  width: 100%;
  background-color: rgb(143, 143, 143);
  position: absolute;
  z-index: 10;
  top: 1160px;
}


#direitos {
  margin-top: 2px;
  padding: 10px 0px 0px 5px;
  text-align: 
}