* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    background-color: rgb(253, 251, 251);
} 

#cabecalho {
    height: 100px;
    width: 100%;
    background-color: green;
    position: fixed;
}

#titulo {
    margin-top: 0px;
    text-align: center;
}

#rodape {
    height: 40px;
    width: 100%;
    background-color: rgb(143, 143, 143);
}

#direitos {
    margin-top: 10px;
    padding: 10px 0px 10px 5px;
    text-align:
}
